body {
    background-image: url(../images/background_img.jpg);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 6em;
    color: white;
    text-align: center;
    background-color: rgb(65, 65, 65);
    width: 95%;
    display: block;
    margin-top:50px;
    margin-left: auto; 
    margin-right: auto;
    border: 5px solid black;
    padding-bottom: 15px; 
    padding-top: 15px;
}
ol li {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4em;
    text-align: center;
    list-style-position: inside;
    background-color: rgb(65, 65, 65);
    color: white;
    margin-bottom: 20px;
}

img {
    height: 98%;
    width: 98%;
    border: 5px solid rgb(215, 215, 215);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5%;
}

#bitmoji {
    height: 100%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 5px solid black;
}

#top {
    border: 5px solid black;
    height: 50%;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: rgb(65, 65, 65);
    border-radius: 5%;
}

div {
    border: 5px solid black;
    height: 50%;
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background: rgb(65, 65, 65);
    border-radius: 5%;
}


.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

#bottom {
    border: 5px solid black;
    height: 50%;
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background: rgb(65, 65, 65);
    border-radius: 5%;
}

#places, .top10 {
    background: rgb(65, 65, 65);
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    text-decoration: underline;
}