h1 {
    font-family: cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    background-color: rgb(65, 65, 65);
    width: 95%;
    display: block;
    margin-top:50px;
    margin-left: auto; 
    margin-right: auto;
    border: 5px solid black;
    padding-bottom: 15px; 
    padding-top: 15px;
}
ol li {
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    list-style-position: inside;
    background-color: rgb(65, 65, 65);
    color: white;
    margin-bottom: 20px;
}

img {
    height: 98%;
    width: 98%;
    border: 5px solid rgb(215, 215, 215);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5%;
}

#bitmoji {
    height: 100%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 5px solid black;
}

#top {
    border: 5px solid black;
    height: 50%;
    width: 48.75%;
    display: block;
    margin-left: 418px;
    margin-bottom: 20px;
    padding: 20px;
    background: rgb(65, 65, 65);
    border-radius: 5%;
}

div {
    border: 5px solid black;
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    background: rgb(65, 65, 65);
    border-radius: 5%;
}

* {
    background: rgb(143, 175, 203);
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;  
}